GLFW_ICON ICON "../resources/icon.ico"

1 VERSIONINFO
FILEVERSION     1,0,0,0
PRODUCTVERSION  1,0,0,0
BEGIN
  BLOCK "StringFileInfo"
  BEGIN
    BLOCK "040904E4"    // English US
    BEGIN
      VALUE "FileDescription", "TicTacToe game by gabrielzschmitz"
      VALUE "FileVersion", "1.0.0"
      VALUE "InternalName", "tictactoe_game"
      VALUE "LegalCopyright", "(c) 2025 gabrielzschmitz"
      VALUE "ProductName", "TicTacToe"
      VALUE "ProductVersion", "1.0.0"
    END
  END
  BLOCK "VarFileInfo"
  BEGIN
    VALUE "Translation", 0x409, 1252    // English US
  END
END
