name: Build Windows

on:
  push:
  pull_request:

jobs:
  build:
    runs-on: windows-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Install Premake
        run: |
          Invoke-WebRequest -Uri "https://github.com/premake/premake-core/releases/download/v5.0.0-beta2/premake-5.0.0-beta2-windows.zip" -OutFile premake.zip
          Expand-Archive premake.zip -DestinationPath premake
          echo "${{ github.workspace }}\premake" >> $env:GITHUB_PATH

      - name: Generate VS2022 project files
        run: |
          cd build
          premake5.exe vs2022

      - name: Build Solution (Release)
        run: |
          msbuild build_files/RayTTT.sln /p:Configuration=Release /m

      - name: Upload Windows binary
        uses: actions/upload-artifact@v4
        with:
          name: RayTTT-windows
          path: bin/Release/RayTTT.exe
